@font-face {
    font-family: "Paris2024";
    src: url(Paris2024-Variable.ttf);
}

body {
    background-color: #575294;
    color: white;
    font-family: "Paris2024";
    display: flex;
}

.is-sticky {
    position: sticky;
}

#menu .burger {
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 5rem;
    position: relative;
    width: 5rem;
    z-index: 50;
}

#menu .labmenu {
    margin-top: 2em;
    padding-top: 2em;
    position: relative;
    font-size: 40px;
}

button {
    padding: 0;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    appearance: auto;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    writing-mode: horizontal-tb;
    margin: 1em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.699);
}

.firstline {
    border: solid 1px;
    border-color: black;
    display: list-item;
    list-style: none;
    margin: 10px;
}

.secline {
    border: solid 1px;
    border-color: black;
    display: list-item;
    list-style: none;
    margin: 10px;
}

.thiline {
    border: solid 1px;
    border-color: black;
    display: list-item;
    list-style: none;
    margin: 10px;
}